.leaf-scene {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: -999;
    transform-style: preserve-3d;
  }
  .leaf-scene div {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background: url(/Login/img/maple.png) no-repeat;
    background-size: 200%;
    transform-style: preserve-3d;
    -webkit-backface-visibility: visible;
            backface-visibility: visible;

  }