*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    transition: all .2s linear;
    
}

.container{
    min-height: 100vh;
    display: flex;
    
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    z-index: 0;
    background-image: url(/Login/img/bg-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 90px;
}

.container span{
    position: absolute;
    background: red;
    z-index: -1;
    pointer-events: none;
    animation: animate 10s ease-out infinite;
}

@keyframes animate {
    
    0%{
        transform: translateY(-600px) scale(0) rotate(0deg);
        opacity: 0;
    }

    10%{
        opacity: 1;
    }

    90%{
        opacity: 1;
    }

    100%{
        transform: translateY(1200px) scale(1) rotate(360deg);
        opacity: 0;
    }
}

.null{
    width:200px;

}

.container form{
    width:800px;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 45px 25px;
    border-radius: 25px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
    border-top: 2px solid #fff9;
    border-left: 2px solid #fff9;
    backdrop-filter: blur(4px);
}

.container form i{
    background-size: cover;
    background-image: url(/Login/img/icon.jpg);
    display: block;
    height: 100px;
    width: 100px;
    line-height: 110px;
    text-align: center;
    color: #999;
    border: 4px solid #999;
    border-radius: 50%;
    font-size: 60%;
    margin:0 auto;
    margin-bottom: 30px;
}

.container form .box{
    height: 40px;
    width: 100%;
    border-radius: 50px;
    border: none;
    outline: none;
    padding: 0 20px;
    margin: 10px 0;
    font-size: 17px;
    color: #666;
    background-color: rgba(255, 255, 255, 0.3);
    text-transform: none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.container form input[type="submit"]{
    height: 50px;
    
    width: 650px;
    border-radius: 50px;
    color: #fff;
    background-color: deeppink;
    font-size: 17px;
    border: none;
    outline: none;
    margin: 35px;
    cursor: pointer;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

.container form input[type="submit"]:hover{
    letter-spacing: 2px;
    opacity: .8;
}

.container form p{
    padding: 7px 0;
    color: #666;
}

.container form p a{
    color:#333;


}

.flex_contain{
    display: flex;

}

.nice{
    margin-left:50px;
}
